[submodule ".janus/dash.vim"]
	path = .janus/dash.vim
	url = https://github.com/rizzatti/dash.vim
[submodule ".janus/rainbow_parentheses.vim"]
	path = .janus/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".janus/tcomment_vim"]
	path = .janus/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".janus/vim-textobj-user"]
	path = .janus/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".janus/vim-colors-solarized"]
	path = .janus/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".janus/tomorrow-theme"]
	path = .janus/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
